.contactsHead {
  text-align: center;
}
.phonebook {
  width: 420px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
}

h1 {
  text-align: center;
}

.noContacts {
  text-align: center;
}
