.contactsHead {
  margin-top: 50px;
  margin-left: 10px;
}
.phonebook {
  margin-top: 50px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.phonebookHeader {
  margin-left: 10px;
}

.noContacts {
  text-align: center;
}
