.container {
  margin-top: 50px;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: red; */
}
.loginForm {
  width: 320px;
}

.loginLabel {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
